.form {
display: flex;
justify-content: center;
align-items: center;
border: 1px solid black;
height: 100px;

}
.common {
    margin-left: 5px;
}
.price input{
    width: 30px;
}
.large input{
    width: 30px;
}
.medium input{
    width: 30px;
}
.small input{
    width: 30px;
}
.addProduct{
    margin: 10px;
}